################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
[Bb]in/
.vs/
/Payroll P2/Payroll P2.sln
